<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HKAttendance"
        tools:targetApi="31" >
        <activity
            android:name=".teacher_history_card"
            android:exported="false" />
        <activity
            android:name=".teacher_create_login"
            android:exported="false" />
        <activity
            android:name=".teacher_duty_card"
            android:exported="false" />
        <activity
            android:name=".student_duty_card"
            android:exported="false" />
        <activity
            android:name=".activity_selecting_role"
            android:exported="false" />
        <activity
            android:name=".ActivityStudentCreateLogin"
            android:exported="false"
            android:parentActivityName=".activity_selecting_role" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_selecting_role" />
        </activity>
        <activity
            android:name=".CreateAccount"
            android:parentActivityName=".ActivityStudentCreateLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityStudentCreateLogin" />
        </activity>
        <activity
            android:name=".LoginAccount"
            android:parentActivityName=".ActivityStudentCreateLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityStudentCreateLogin" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="SMART DTR" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:exported="false"
            android:label="Create" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Login" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>