<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HKAttendance"
        tools:targetApi="31">
        <activity
            android:name=".activity_user_role"
            android:exported="false"
            />
        <activity
            android:name=".activity_duty_schedule_teacherr"
            android:exported="false" />
        <activity
            android:name=".activity_duty_schedule_teacher"
            android:exported="false" />
        <activity
            android:name=".activity_student_home_page"
            android:exported="false" />
        <activity
            android:name=".activity_teacher_account_details"
            android:exported="false" />
        <activity
            android:name=".activity_home_pagee"
            android:exported="false" />
        <activity
            android:name=".activity_home_page_teacher"
            android:exported="false" />
        <activity
            android:name=".activity_account_details"
            android:exported="false" />
        <activity
            android:name=".activity_change_password"
            android:exported="false" />
        <activity
            android:name=".activity_home_page"
            android:exported="false" />
        <activity
            android:name=".ActivityCreateLogin"
            android:exported="false"
            android:parentActivityName=".activity_user_role">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity_user_role" />
        </activity>
        <activity
            android:name=".activity_selecting_role"
            android:exported="false" />
        <activity
            android:name=".DefaultActivity"
            android:exported="false"
            android:label="Default"
            >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="SMART DTR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:exported="false"
            android:label="Create"/>

        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Home"/>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Login"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>